/*****************************************************************************
** Project: PIXELDIVS Final Project
** Authors: Chitali Buge, Chih-Yun Wu, Andrew Johnson, and Alyssa Pratt
** Date: 18 May 2020
** Description: Contains all the CSS styling for the entire project
*****************************************************************************/

/*****************************************************************************
** HTML Page: All
** Date: 18 May 2020
** Description: Contains all the CSS styling for everything that is the same across multiple webpages
*****************************************************************************/
body {
	font-family: Roboto;
}

.title-main {
	font-size:40px;
	font-style:bold;
	padding: 10px;
	text-align: center;
}

.title-divs {
	padding-left:10px;
	padding-right:10px;
	margin-left: 5px;
	background-color: #4e9af8;
	color: #ffffff;
}
/*****************************************************************************
** HTML Page: 404 page
** Date: 18 May 2020
** Description: 404 error page styling
*****************************************************************************/
.error404-header {
	font-size: 80px;
	text-align: center;
}

.error404-description {
	font-size: 18px;
	text-align:center;
}
/*****************************************************************************
** HTML Page: Drawing page
** Date: 18 May 2020
** Description: Contains all the styling for index.html
*****************************************************************************/
/*
	Navbar and dropdown -- AP
*/

nav {
	overflow:hidden;
	background-color: #4e9af8;
	font-family: Roboto;
	padding-left: 5%;
	margin:0;
}

.navbar a {
	float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown .otherprojs-btn{
	font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .otherprojs-btn {
  background-color: #3e7bc6;
}

.otherprojs {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.otherprojs a{
	float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.otherprojs a:hover{
	background-color: white;
}

.dropdown:hover .otherprojs {
  display: block;
}

/*
 Other
*/
#main {
	margin-left: 5%;
	margin-right: 5%;
	display: flex;
	flex-wrap:nowrap;
}

.canvas-label {
	font-size: 18px;
	font-weight: bold;
	display: block;
	margin: 0;
	text-align: center;
}

#canvas-grid {
	flex: 1 70%;
	padding: 10px;
}

#canvas {
	flex: 1;
	display:flex;
	align-items: center;
}

#grid {
	display: inline-block;
	margin: 10px auto;
	border: 1px solid black;
}

.grid-column {
	display:flex;
	flex-wrap:nowrap;
	flex-direction: row;
}
/*
.grid-pixel {

	height: 75px;
	width: 75px;

}*/

.grid-pixel:hover {
	box-sizing: border-box;
	border: 2px inset;
	border-style: inset;
	cursor:default;
}

.grid-pixel:active {
	border: 1px inset;
}

.palette-pixel {
	height: 75px;
	width: 75px;
}

.palette-pixel:hover {
	box-sizing: border-box;
	border: 2px inset;
	border-style: inset;
	cursor:default;
}

.palette-pixel:active {
	border: 1px inset;
}

#canvas-color {
	flex: 1 15%;
	text-align: center;
}

#palette {
	display: flex;
	flex-wrap: wrap;
	margin: 10px auto;
}

#add-button {
	display: inline-block;
	background-color: #dadada;
	color: #319df6;
	text-align: center;
	font-size: 50px;
	padding: 12.5px;
}

#add-button:hover {
	background-color: #319df6;
	color: #dadada;
	cursor:default;
}

#add-button:active {
	background-color: #319df6;
	color: #dadada;
	padding: 7.5px;
	box-sizing: border-box;
	border: 5px inset;
	border-style: inset;
}

#fill-button{
	display: inline-block;
	background-color: #dadada;
	color: #319df6;
	text-align: center;
	font-weight:bold;
	font-size: 50px;
	padding: 12.5px;
}

#fill-button:hover {
	background-color: #319df6;
	color: #dadada;
	cursor:default;
}

#fill-button:active {
	background-color: #319df6;
	color: #dadada;
	padding: 7.5px;
	box-sizing: border-box;
	border: 5px inset;
	border-style: inset;
}

/*
** Modal to add new color to palette
*/

#color-modal {
	width: auto;
	max-width: 400px;
	min-width: 150px;
	min-height: 290px;
	margin: 200px auto;
	z-index: 20;
	background-color: white;
	border-radius:20px;
	border: 1px solid grey;
	padding:5px 5px 10px 10px;
}

#modal-color-preview {
	width: 100px;
	height: 100px;
	display: inline-block;
	background-color: black;
	border: 1px solid black;
}

#range-slider {
	width: 200px;
	display: inline-block;
}

#modal-add-button {
	display: block;
}

#sliding-control {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


/*****************************************************************************
** HTML Page: Home
** Date: 18 May 2020
** Description: Contains all the CSS styling for the home page
*****************************************************************************/
/*
** Search bar
*/
.search-bar{
	text-align: center;
	color:transparent;
}
  #search-input {
	padding: 4px;
	width: 400px;
	font-size: 16px;
	background-color: #eee;
	border: 1px solid #dadada;
	border-radius: 2px;
  }

  #search-input:focus {
	outline: none;
	background-color: #fff;
  }

  #search-button {
	margin-left: -5px;
	font-size: 16px;
	background: none;
	border: none;
	color: #343434;
	cursor: pointer;
  }

  #search-button:hover {
	color: #319df6;
  }

  #search-button:focus {
	color: #319df6;
	outline: none;
  }
/*
** Drawing gallery
*/
#drawing-container{
	margin: 30px;
	display: flex;
	flex-wrap: wrap;

}
.drawings {
	width:400px;
	height:400px;
}
.square{
	width:350px;
	height:350px;
	background-color: #dadada;
	border-radius: 5px;
	
}
.title-drawings{
	width:350px;
	text-align: center;
	color: #319df6;
	float:left;
	font-size: 16px;
}
.new-drawing{
	margin-right: 50px;
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	color: #319df6;
	font-size: 20px;

}
.fa-plus{
	font-size: 40px;
	margin: 20px;
}
.square:hover{
	background-color: white;
	border: 1px solid #dadada;
	border-radius: 5px;
	transform: scale(1.1);
	transition-duration: .20s;
}
.preview{
	padding: 10px;
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
}

.preview-pixel{
		background-color:white;

}

/*Drawing Setting*/

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index:10;
  background-color: rgba(0, 0, 0, 0.85);
}

#box {
	width: auto;
	max-width: 400px;
	min-width: 150px;
	min-height: 290px;
	margin: 200px auto;
  z-index: 20;
	background-color: white;
	border-radius:20px;
	border: 1px solid grey;
	padding:5px 5px 10px 10px;
}

.hidden{
	display:none;
}

.modal-close-button {
  float: right;
  color:grey;
	font-size: 30px;
	border:none;
	background: none;
	padding:2px 2px 0 0;
  cursor: pointer;
}

.modal-close-button:hover {
	font-size:35px;
}

#title-input{
	float:none;
	font-size: 16px;
  border: 1px solid #dadada;
  border-radius: 2px;
	background-color: #D3D3D3;
}

#title-input:focus{
	background-color: white;
}

.slider{
	-webkit-appearance: none;
  width: 150px;
	height:10px;
  outline: none;
  opacity: 0.7;
	background-color: grey;
}

.slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: grey;
	border:0px solid #000000;
  border-radius: 30px;
}
.slider::-webkit-slider-thumb {
  height: 15px;
  width: 10px;
  background: #65001c;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}

.modal-create-button{
	float:right;
	border-radius:5px;
	border: 0 solid white;
	background-color: #2a9df4;
	color:white;
	width: 60px;
	height:40px;
	cursor:pointer;
	margin-right:5px;
}
.modal-create-button:hover{
	background-color:#1d75b8;
}
/* END OF FILE */
